.two-tables-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
  
  .table-container {
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px; /* Optional padding for spacing */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    /* Add other table styling as needed */
  }
  .table-container {
    overflow-y: auto;
    max-height: 120vh; /* Adjust to your preferred maximum height */
  }


  .competition-info-panel{
    background: url('../../Pages/Assets/theme-banner-background.jpg') no-repeat fixed center center;
    padding: 20px;
    background-position: center 14%;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .lubric{
    padding: 0vh 0vh !important;
  }

  .down-lubric{
    padding: 5vh 20vh !important;
  }

  .lubric3{
    background: white;
  }

  .lubric4{
    background: url('../../Pages/Assets/content-background.jpg') no-repeat fixed center center;
    padding: 20px;
    background-position: center 14%;
    background-repeat: no-repeat;
    background-size: cover;
  }