.two-tables-container {
    display: flex;
    justify-content: space-between;
    overflow-x: auto; /* Enable horizontal scrolling if needed */
  }
  
  .table-container {
    overflow-y: auto;
    box-sizing: border-box;
    padding: 10px; /* Optional padding for spacing */
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
    /* Add other table styling as needed */
  }
  .table-container {
    overflow-y: auto;
    max-height: 83vh; /* Adjust to your preferred maximum height */
  }
@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1740px !important;
  }
}