body{
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #F2F4F7;
}

thead tr th{
  background-color: #001A6D !important;
  color: #EFFFFF !important;
  font-size: 0.72rem;
  font-weight: 700;
}
tbody tr td{
  font-size: 0.9rem;
  vertical-align: middle!important;
  color: #565656 !important;
}
.form-control{
  font-size: 0.9rem;
  padding: 0.225rem 0.55rem;
}

.btn{
  font-size: 0.9rem;
  border-radius: 3px;
  padding: 2px 8px;
  color: #FDFFF8 !important;
}

.warning{
  color: #000000 !important;
}

.table{
  --bs-table-hover-bg: #F3FFFF;
  
}
.padded{
  padding-left: 3rem !important;
}

.totaltime{
  color: #1F3B8A !important;
  font-weight: bold;
}

.place, .atlet{
  font-weight: 700;
}
.bib{
  color: #808080 !important;
  font-weight: 500;
}






.top-nav,
.bottom-nav {
  padding: 0 20vh; /* match container’s horizontal padding */
}
.container{
  width: 100%;
  padding: 5vh 20vh;
  min-height: 84vh;
}
.container-fluid{
  --bs-gutter-x:0rem;
}

.top-nav {
  background-color: #002395; /* Dark top bar */
  color: #ffffff;
}

.bottom-nav {
  background-color: #ffffff; /* Or another shade of blue */
  color: #000000;
}

.nav-link{
  color: #000000;
  font-size: 16px;
}

footer{
  background-color: #002395;
  min-height: 20rem;
}


.group-name{
  padding: 12px ;
  font-weight: 500;
  color: black;
  align-items: center;
  font-size: 18px;
  width: 100%;
}
.group-name1{
  padding: 8px;
  color: white;
  font-size: 16px;
  align-items: center;
}
.groupform{
  background-color: white;
  align-items: center;
  justify-content: middle;

}

thead th{
  vertical-align: middle;
}
.resultsTable thead th,
.resultsTable tbody td {
  padding-left: 0px; /* Adjust this value as needed for the margin */
}

.active-link {
  border-bottom: 2px solid orange;
  color: #002395 !important;
  font-weight: 600;
}


.gold {
  background-image: url('Pages/Assets/first.png');
}

.silver {
  background-image: url('Pages/Assets/second.png');
}

.bronze {
  background-image: url('Pages/Assets/third.png');
}

.white-rabbit {
  /* Use your image as a background, centered, no repeat */
  background: url('Pages/Assets/white_rabbit.png') no-repeat center center;

  /* Force the container to be exactly 100×100px */
  width: 150px;
  height: 150px;

  /* Scale the background image to fit inside 100×100 (contain or cover) */
  background-size: contain;  /* or 'cover' or '100% 100%' based on preference */
}



@media screen and (max-width: 1300px) {
  .down-lubric{
    padding: 0vh !important;
  }
}


@media screen and (max-width: 1000px) {
  .left, .main, .right {
    width: 100%; /* The width is 100%, when the viewport is 800px or smaller */
  }
  .container .down-lubric{
    padding: 0 1vh !important;
  }
  .top-nav,
  .bottom-nav {
    padding: 0 1vh; /* match container’s horizontal padding */
  }
}


@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}

/* CSS */
.scrollable-container::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.scrollable-container::-webkit-scrollbar-track {
  background: #10bcbc; /* Background color of the scrollbar track */
}

.scrollable-container::-webkit-scrollbar-thumb {
  background: #9f1414; /* Color of the scrollbar thumb */
  border-radius: 5px; /* Rounded corners of the scrollbar thumb */
}

.scrollable-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* Color of the scrollbar thumb on hover */
}


.form-select{
  line-height: 1.2 !important;
  font-size: 0.9rem !important;
}

@media (min-width: 1400px) {
  .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    max-width: 1920px !important;
  }

}