body{
  box-sizing: border-box;

}

thead tr th{
  background-color: #0089D0 !important;
  color: #EFFFFF !important;
  font-size: 0.85rem;
}
tbody tr td{
  font-size: 0.9rem;
  vertical-align: middle!important;
  color: #565656 !important;
}
.form-control{
  font-size: 0.9rem;
  padding: 0.225rem 0.55rem;
}

.btn{
  font-size: 0.9rem;
  border-radius: 3px;
  padding: 2px 8px;
  color: #FDFFF8 !important;
}
.btn .warning{
  background-color: #F0AB00 !important;
}

.table{
  --bs-table-hover-bg: #F3FFFF;
}
.padded{
  padding-left: 3rem !important;
}

.totaltime{
  color: #1F3B8A !important;
  font-weight: bold;
}

.place, .atlet{
  font-weight: 700;
}
.bib{
  color: #808080 !important;
  font-weight: 500;
}

.navbar{
  background-color: #002336 !important;
  --bs-navbar-padding-y: 0rem;
  --bs-navbar-brand-padding-y: 0rem;
  margin-bottom: 40px;
  padding: 0 8rem;
  font-weight: 700;
}
.nav-link{
  color: #EFFFFF !important;
  font-size: 14px;
}
.container{
  padding: 0 8vh;
}

.rudika{
  background: rgba(255, 255, 255, 0.5)
}
.group-name{
  padding: 12px ;
  font-weight: 500;
  color: white;
  align-items: center;
  font-size: 18px;
}
.group-name1{
  padding: 8px;
  color: white;
  font-size: 16px;
  align-items: center;
}
.groupform{
  background-color: #002336;
  align-items: center;
  justify-content: middle;

}
.resultsTable thead th,
.resultsTable tbody td {
  padding-left: 0px; /* Adjust this value as needed for the margin */
}

.active-link {
  border-bottom: 2px solid orange;
}


.championship-cup {
  width: 30px;
  height: 30px;
  background-size: cover;
  margin-right: 5px;
}

.gold {
  background-image: url('Pages/Assets/first.png');
}

.silver {
  background-image: url('Pages/Assets/second.png');
}

.bronze {
  background-image: url('Pages/Assets/third.png');
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(5deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-5deg); }
  100% { transform: rotate(0deg); }
}