/* html,
body{
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-family: "Rubik Doodle Shadow";
  vertical-align: baseline;
}

a{
  text-decoration: none;
}

.navbar{
  height: 8vh;
  display: flex; 
  align-items: center; 
  background: #04011E;
}

.logoDiv, .linkDiv {
  flex-grow: 1; 
  display: flex; 
  align-items: center; 
  cursor: pointer;
}

.logoDiv {
  justify-content: flex-start; 
}

.linkDiv {
  justify-content: flex-end; 
}

.gsfLogo{
  width: 12vh;
  height:12vh;
  margin-left: 20px;
}

.loginLink{
  color: white;
  text-decoration: none;
  cursor: pointer;
  margin-right: 20px;
} */

body{
  box-sizing: border-box;
  padding: 0 60px;
}