body{
  box-sizing: border-box;
  background-color: #d4e7ff;
}

thead tr th{
  background-color: #1F3B8A !important;
  color: #D2D8E8 !important;
  font-size: 0.85rem;
}
tbody tr td{
  font-size: 0.9rem;
  vertical-align: middle!important;
  color: #565656 !important;
}
.form-control{
  font-size: 0.9rem;
  padding: 0.225rem 0.55rem;
}

.btn{
  font-size: 0.9rem;
  border-radius: 3px;
  padding: 2px 8px;
  color: #FDFFF8 !important;
}
.btn .warning{
  background-color: #F0AB00 !important;
}

.table{
  --bs-table-hover-bg: #F3FFFF;
}
.padded{
  padding-left: 3rem !important;
}

.totaltime{
  color: #1F3B8A !important;
  font-weight: bold;
}

.place, .atlet{
  font-weight: 700;
}
.bib{
  color: #808080 !important;
  font-weight: 500;
}

.navbar{
  background-color: #EEEEEE;
  --bs-navbar-padding-y: 0rem;
  --bs-navbar-brand-padding-y: 0rem;
  margin-bottom: 40px;
  padding: 0 8rem;
  font-weight: 700;
}
.nav-link{
  color: #808080 !important;
}
.container{
  padding: 0 8vh;
}

.rudika{
  background: rgba(255, 255, 255, 0.5)
}
.group-name{
  padding: 20px;
  color: #141C98;
  font-weight: 365;
}